<?xml version="1.0" encoding="utf-8"?>
<!--
DI definitions
@category    DMC
@package     DMC_Performance
@author      digital.manufaktur GmbH / Hannover, Germany
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dmcCatalogImagesResizeCommand" xsi:type="object">DMC\Performance\Console\Command\ImagesResizeCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Model\Product\Image\Cache" type="DMC\Performance\Magento\Catalog\Model\Product\Image\Cache"/>
    <preference for="Magento\Theme\Model\Theme\ThemeProvider" type="DMC\Performance\Magento\Theme\Model\Theme\ThemeProvider"/>

    <!-- Enhance indexers with higher batches -->
    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\BatchSizeCalculator">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="default" xsi:type="number">20000</item>
                <item name="configurable" xsi:type="number">5000</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogInventory\Model\Indexer\Stock\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="array">
                <item name="default" xsi:type="number">1000</item>
                <item name="bundle" xsi:type="number">600</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Indexer\Category\Product\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="number">250000</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Indexer\Eav\BatchSizeCalculator">
        <arguments>
            <argument name="batchSizes" xsi:type="array">
                <item name="decimal" xsi:type="number">5000</item>
                <item name="source" xsi:type="number">5000</item>
            </argument>
        </arguments>
    </type>

    <!-- Fix cloudflare domain check for zone ID -->
    <type name="CloudFlare\Plugin\Backend\MagentoAPI">
        <plugin name="fix_domain_retrieval" type="DMC\Performance\Plugin\CloudFlare\Plugin\Backend\MagentoAPI" />
    </type>

</config>
